


@media (max-width: 64rem) {

  .menuButton{
    visibility: visible;
    opacity: 1;
  }
  
  .list{
   div{
    display: none;
   }
  }
  #card1, #card2, #card3, #card4, #card5, #card6{
    h3{
      font-size: 3.75rem;
    }
  }

  .portfolio1{
    font-size: 12.5rem;
    letter-spacing: 0rem;
    top: .25rem;
    left: 0rem;
  }
  .portfolio2{
    font-size: 12.5rem;
    letter-spacing: 0rem;
    top: -0.3125rem;
    left: 0rem;
  }

  .about-me{
    h3{
      font-size: 3.25rem;
    }
    p{
      font-size: 1.125rem;
    }
  }
}



@media (max-width: 48rem) {
  
  
  .work-container.active{
    flex-direction: column;
    
    
  }

  .cards-container{
    width: 100%;
    
  }
 
  .cardsDetail-container{
    display: none;
  }

  #card1, #card2, #card3, #card4, #card5, #card6{
    h3{
      align-self: center;
    }
  }

  
  
  .backButton{
    display: none;
  }
  .menuButton{
    transform: scale(0.8);
  }
  .brand{
    border: solid 0.1rem #cac6c6;
    h2{
      font-size: 3.125rem;
    }
    h6{
      font-size: .75rem;
      top: -24px;
    }
  }
  .portfolio-box{
    border: solid 0.1rem #cac6c6;
    width:100%;
    height: 13.75rem;
    top: 2.5rem;
  }
  .portfolio1{
    font-size:6.75rem;
    top: -1.25rem;
  }
  .portfolio2{
    font-size: 6.25rem;
    top: -0.5rem;
  }
  .list{
    div{
      gap: .75rem;
      display: none;
    }
  }

  .main-container.night{
    .selected{
      border-right:none;
        h3{
          -webkit-text-stroke: 0; 
        transform: scale(1);
      }
    }
  }
}   



