

@media (max-width: 48rem) {
  
  
  .work-container.active{
    flex-direction: column;
    
    
  }

  .cards-container{
    width: 100%;
    
  }
 
  .cardsDetail-container{
    display: none;
  }

  #card1, #card2, #card3, #card4, #card5, #card6{
    h3{
      text-align: start;
    }
  }

  .selected{
    border-right: solid 0rem var(--font-color);
      h3{
      transform: scale(1);
    }
    
  }
  
  
  
  
  .list{
    div{
      gap: .75rem;
      display: none;
    }
  }

  .main-container.night{
    .selected{
      border-right:none;
        h3{
          -webkit-text-stroke: 0; 
        transform: scale(1);
      }
    }
  }
}   



@media (max-width: 26.5625rem) {
  

  #card1, #card2, #card3, #card4, #card5, #card6{
    h3{
      font-size: 58px;
      text-align: start;
    }
  }

  .menuBox{
    width: 90px;
  }
  .icon-menu{
    width: 90px;
  }

  .selected{
    border-right: solid 0rem var(--font-color);
      h3{
      transform: scale(1);
    }
    
  }
  
  .list{
    div{
      gap: .75rem;
      display: none;
    }
  }

  .main-container.night{
    .selected{
      border-right:none;
        h3{
          -webkit-text-stroke: 0; 
        transform: scale(1);
      }
    }
  }
}

@media (max-width: 23.4375rem) {
  
  .cards-container{
    align-content: center;
  }

  #card1, #card2, #card3, #card4, #card5, #card6{
    h3{
      font-size: 48px;
      text-align: start;
    }
  }

  .menuBox{
    width: 80px;
  }
  .icon-menu{
    width: 80px;
  }

  .selected{
    border-right: solid 0rem var(--font-color);
      h3{
      transform: scale(1);
    }
    
  }
  
  .list{
    div{
      gap: .75rem;
      display: none;
    }
  }

  .main-container.night{
    .selected{
      border-right:none;
        h3{
          -webkit-text-stroke: 0; 
        transform: scale(1);
      }
    }
  }
}