
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 2s ease; */
}

:root{
  --navbar-color: #FC5215;
  --navbar-night: #292f32;
  --background-color :#6AA0A8;
  --background-color-night: rgb(29, 29, 29);
  --font-color: #FCE89A;

  --font-color-night1: #6a3eb1;
  --font-color-night2: #475a91;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Nunito Sans", serif;
  background-color: rgb(13, 13, 13);
  
}



.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;

  animation: grain 7s steps(10) infinite;
  background-image: url(./noise1.png);
  background-size: 12.5rem;
  background-repeat: repeat;
  opacity: 0.5;
  pointer-events: none;

}
.noise.clean{
  display: none;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}



.moon{
  
  
  position: relative;
  visibility: hidden;
  right: 0rem;
  top: 0rem;
  opacity: 0;
  filter: blur(.075rem);
  animation: moon 0s infinite ;
  transition: 0.3s;
  
  
  
  img{
    width: 9.0625rem;
    height: 12.5rem;
    z-index: 1;
  }
}
@keyframes moon{
  0%{
    transform: translateY(-0.625rem) translateX(0rem);
    filter: blur(.0625rem);
  }
  
  100%{
    transform: translateY(-18.75rem) translateX(46.875rem);
    filter: blur(.0313rem);
  }
}

.moon:hover{
  filter: blur(.0375rem);
}




.main-container.night{
  
  .container-flow{
    background-color: var(--background-color-night);
    
  }
  .work-container{
    background-color: var(--background-color-night);
  }
  .cards-container{
    background-color: var(--background-color-night);
    
  }
  #card1, #card2, #card3, #card4, #card5, #card6{
    filter: contrast(0.8); 
    h3{
      -webkit-text-stroke:  .0625rem #475a91;
        color:#475a91;
    }
    
  }
  .selected{
    border-right: solid .5rem #475a91 ;
    filter: contrast(1);
  }
  .navbar{
  background-color: var(--navbar-night);
  color: #eaeaed;
  }
  .backButton{
    color: #eaeaed;
  }

  .noise{
    opacity: 0.20;
  }
  #noise-btn{
    color: #eaeaed;
  }
  
  .brand{
    h2{
      color: var(--font-color-night2);
    }
    h6{
      color:var(--font-color-night2);
    }
  }
  .portfolio1{
    color:#1d1d1e;
    -webkit-text-stroke:  .0625rem  var(--font-color-night2);
  }
  .portfolio2{
    color: var(--font-color-night2);
  }

  .e{
    color: var(--font-color-night2);
  }
  #work-btn {
    background-color: #eaeaed;
    color:var(--font-color-night2);
  }
  #about-btn {
    background-color: var(--font-color-night2);
    color: #eaeaed;
  }
  #contact-btn {
    background-color: #eaeaed;
    color:var(--font-color-night2);
  }

  #close{
    color: white;
  }

  .moon{
    visibility: visible;
    opacity: 1;
  }


  .contact{
    color: #eaeaed;
    a, button{
      color: #eaeaed;
    }
  }
  .about-me{
    color: #eaeaed;
  }

  .justgoodstuff-content, .tuvinilo-content, .destinea-content, .readmeapp-content{
    color: #eaeaed;
  }
  a{
    color: #eaeaed;
  }
  
}





#noise-btn{
  cursor: pointer;
}

#noise-btn.on{
  cursor: pointer;
  opacity: 0.5;
}
#noise-btn.off{
  opacity: 1;
  transition: 0.2s;
  
}

#dark-btn{
  cursor: pointer;
  border-right: solid .0938rem ;
  padding-right: .75rem;
  
}







.main-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  user-select: none;
  padding: .625rem;
  background-color: black;
  align-items: center;
  z-index: 3;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
}

.container{
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: center;
  
  border: solid 0.2rem rgba(218, 216, 216, 0.788);
  background-color: var(--background-color);
  
  z-index: 3;
  
}

.container-title{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border: solid 0.1rem rgba(76, 13, 224, 0.788);
  background-color: var(--background-color);
  padding: 1.25rem;
  margin: 0rem;
  right: 0rem;
  z-index: 3;
  position: relative;
  transition:  0.5s;
}






.navbar {
  display: flex;
  width:100%;
  height:30%;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: var(--navbar-color);
  color: var(--font-color);
  z-index: 1;
  border: solid 3px rgba(16, 85, 234, 0.788);
  
}
.menuBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 0rem;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
  z-index: 2;
}

.backButton{
  display: flex;
  width: 9.375rem;
  visibility: hidden;
  opacity: 0;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
}
.menuButton{
  display: flex;
  width: 9.375rem;
  visibility: hidden;
  opacity: 0;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
}



.visible{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.icon-menu{
  display: flex;
  justify-content: start;
  gap: .75rem;
  padding: .25rem;
  width: 9.375rem;
  height: 2.5rem;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
  z-index: 2;
  
}

.brand {
  border: solid 0.1rem rgba(76, 13, 224, 0.788);
  h2 {
    font-family: "Advent Pro", serif;
    
    font-weight: 800;
    font-size: 6.25rem;
    letter-spacing: .125rem;
    /* -webkit-text-stroke: .0313rem #e5eaf6d0; */
    color: var(--font-color);
    border: solid 0.1rem rgba(255, 255, 255, 0.788);
    
   
  }

  h6 {
    
        font-weight: 900;
        font-size: 1.5rem;
        background-color: rgba(30, 30, 30, 0);
        padding: .5rem;
        color:var(--font-color);
        border: solid 0.1rem rgba(255, 255, 255, 0.788);
        letter-spacing: .0313rem;
        transition: 1s;
  }
}

.portfolio-box{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.1rem rgba(76, 13, 224, 0.788);
  width:72.5rem;
  height:23.75rem;
  justify-content: center;
  justify-self: center;
  margin: 0rem;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s;  
  
 
  
}

.portfolio1{
  position: relative;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 16.25rem;
  top: 1.875rem;
  left: .625rem;
  border: solid .0625rem rgba(244, 244, 244, 0);
  letter-spacing: 1.25rem;
  -webkit-text-stroke:  .0625rem var(--font-color);
  color: var(--background-color);
  transition: 0.3s;
  

  
 
  
}
.portfolio2{
  position: relative;
  border: solid .0625rem rgba(244, 244, 244, 0);
  transform: rotateX(180deg);
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 16.25rem;
  letter-spacing: 1.25rem;
  top: -1.875rem;
  left: .625rem;
  color:  #fce89a9c;
  transition: 0.3s;
  
  
  
}



.work-container{
  display: none;
  
}

.work-container.active{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 0.1rem rgb(250, 250, 250);
  background-color: var(--background-color);
  padding: 1.25rem;
  gap: 1.25rem;
  padding: .625rem;
  margin: 0rem;

  
}

.cards-container{
  
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
  height: 100%;
  align-self: self-start;
  gap: 0rem;
  background-color: var(--background-color);
  border: solid 0.1rem rgb(250, 250, 250);
  padding: .625rem;
}


#card1, #card2, #card3, #card4, #card5, #card6{
  
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  h3{
    font-family: "Advent Pro", serif;
    font-weight: 900;
    font-size: 5.625rem;
    border: solid 0rem rgba(244, 244, 244, 0);
    letter-spacing: 0rem;
    -webkit-text-stroke:  .0625rem var(--font-color);
    color: var(--font-color);
    border: solid 0rem rgba(250, 250, 250, 0.945);
    text-overflow: ellipsis;
    opacity: 1;
    transition: 0.3s;
    
    
    
  }
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover{
  opacity: 1;
}



.selected{
  border-right: solid .5rem var(--font-color);
    h3{
    transform: scale(0.95);
  }
  
}

#sub1{
  display: inline;
  position: relative;
  right: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  -webkit-text-stroke:  0rem var(--font-color);
}


.cardsDetail-container{
  
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
  height: 100%;
  gap: 0rem;
  padding: 0rem;
  border: solid 0.1rem rgb(250, 250, 250);
  background-color:transparent;
  color: var(--font-color);
}





a{
  text-decoration: none;
}




.justgoodstuff-content, .tuvinilo-content, .destinea-content, .readmeapp-content{
  display: none;
  flex-direction: column;
  align-items: self-start;
  width: 100%;
  height: 100%;
  padding: .625rem;
  gap: 1.875rem;
  color:var(--font-color);
  border: solid 0rem rgb(250, 250, 250);
  overflow-x: hidden;
  overflow-y: auto;
  
  h4{
    font-family: "Advent Pro", serif;
    font-weight: 700;
    font-size: 1.5rem;
    border: solid 0rem rgb(250, 250, 250);
  }

  div{
    display: flex;
    align-self: flex-start;
    gap: .5rem;
  }
  h5 {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Nunito Sans", serif;
    border: solid 0rem rgb(250, 250, 250);
  }
  img{
    width: 100%;
    height: auto;
    align-self: self-start;
    
  }
  a{
    color: var(--font-color);
    font-size: 1.125rem;
    font-weight: 600;
    align-self: center;
  
  }
}






.container-about-me.active{
  
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width:70%;
  height: 25rem;
  overflow-x: auto;
  padding: 0rem;
  gap: 2.5rem;
  color: var(--font-color);
  border: solid #e6e4e4a2 0rem;
  user-select: none;
  top: 2.5rem;
  transition: 0.5s;
  h3{
    font-weight: 800;
    font-size: 3.875rem;
  }
  p {
    font-size: 1.625rem;
    font-weight: 400;
    font-family: "Nunito Sans", serif;
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

.container-about-me{
  display: none;
}

.e{
  display: inline-block;
  transform: rotate(25deg);
  color: rgb(73, 72, 72);
  font-weight: 900;
}



.container-contact.active {
  
  flex-direction: column;
  justify-items: center;
  position: absolute;
  
  align-items: center;
  
  display: flex;
  height: 50%;
  width: 100%;
  padding: 1.25rem;
  top:0px;
  
  cursor: pointer;
  margin: 0px;
  border: solid 0.1rem rgba(255, 255, 255, 0.788);
  div{
    display: flex;
    gap: 1rem;
  }
  
  
  a, button{
    font-size: 1.375rem;
    font-weight: 500;
    color:var(--font-color);
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.container-contact{
  display: none;
}









.list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  top: 7.5rem;
  right: 2.5rem;
  width: 17.5rem;
  height: 17.5rem;
  border: solid 0rem white;
  padding: 1.25rem;
  font-family: "Advent Pro", serif;
  

  z-index: 4;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding: .625rem;
    gap: 1.25rem;
    border: solid 0rem white;
    
    
  }

}


#work-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  width:90%;
  height: 2.5rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 800;
  transform: rotateZ(4deg);
  background-color: var(--font-color);
  border: none;
  color: inherit;
  text-align: center;
  padding: .375rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  z-index: 3;
  a{
    text-decoration: none;
    color: inherit;
  }

}
#work-btn:hover {
  transform: scale(1.05) rotateZ(4deg);
  letter-spacing: 0rem;
 
  

}


#about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  right: .125rem;
  width: 95%;
  height: 2.5rem;
  transform: rotateZ(0deg);
  font-size: 2rem;
  font-family: inherit;
  overflow-x: auto;
  overflow-y: auto;
  font-weight: 800;
  background-color: black;
  border: none;
  color: var(--font-color);
  
  padding: .375rem;
  cursor: pointer;
  transition: 0.1s ease-in;

  a{
    text-decoration: none;
    color: inherit;
  }
 
}
#about-btn:hover {
  transform: scale(1.05) rotateZ(0deg);
  letter-spacing: 0rem;
}





#contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  width: 90%;
  height: 2.5rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 800;
  background-color: var(--font-color);
  transform: rotateZ(-4deg);
  padding: .375rem;
  border: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease-in;

  z-index: 3;

  a{
    text-decoration: none;
    color: inherit;
    
  }
  
}
#contact-btn:hover {
  transform: scale(1.05) rotateZ(-4deg);
  letter-spacing: 0rem;
}

.container-cards{
  width: 100%;
  height: 37.5rem;
  border: solid .0625rem rgba(255, 255, 255, 0.832);
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:var(--background-color);
}







#close{
  position:relative;
  align-self: center;
  top: -7.5rem;
  justify-self: center;
  display: none;
  cursor: pointer;
  color: var(--font-color);
}

#close:hover{
  transform: rotate(180deg);
  transition: 0.5s;
}

.work-container-mobile{
  display: none;
}

.cards-container-mobile{
  display: none;
}