@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 2s ease; */
}

:root {

  --navbar-color: #eb5a46;
  --navbar-night: #292f32;
  --background-color: #4d767c;
  --background-color-night: rgb(26, 25, 25);

  --font-color: #fce89a;
  --font-color-text: #FFFBAD;
  --font-color-night1: #E4E4E7;
  --font-color-night2: #6476A9;
  --font-color-night3: #35477A;

  --color-card-night1:#E4E4E7;
  --color-card-night2: #35477A;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Nunito Sans", serif;
  background-color: var(--background-color-night)
}

a {
  text-decoration: none;
  color: inherit;
}







.footer{
  display: flex;

  align-items: end;
  justify-content: end;
  width: 100%;

  background-color: transparent;

  z-index: 3;

  div{
    padding: 8px;
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: end;
    background-color: #4d6b70;
    background-color: var(--background-color-night);
    border: solid .1rem rgba(227, 227, 227, 0);
    color: var(--font-color);

  }
  p{
    color: var(--font-color);
    font-weight: 600;

  }
  button{
    color: var(--font-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
  }
  @media (max-width: 425px) {
    justify-content: center;
  }

}



.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;

  animation: grain 7s steps(10) infinite;
  background-image: url(./noise1.png);
  background-size: 12.5rem;
  background-repeat: repeat;
  opacity: 0.4;
  pointer-events: none;
}
.noise.clean {
  display: none;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}



.moon {
  position: relative;
  visibility: hidden;
  right: 0rem;
  top: 0rem;
  opacity: 0;
  border: solid .1rem rgba(200, 200, 200, 0.767);
  filter: blur(.075rem);
  animation: moon 20s ;
  z-index: 1;

  img {
    width: 9.0625rem;
    height: 12.5rem;
    z-index: 1;
  }

  @media (max-width: 425px) {
    animation: none;
    transform: scale(0.4);
  }
}
@keyframes moon {
  from {
    transform: scale(0.5);
    opacity: 0.5;
    filter: blur(1px);
  }

  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(.5008px);
  }
}

.main-container.night {



  .noise {
    opacity: 0.2;
  }
  .lang-selector {
    color: #eaeaed;
  }
  .lang-selector button {
    color: #eaeaed;
    background-color: transparent;
    border: none;
  }
  .lang-selector button:hover {
    color: #eaeaed;
    background-color: transparent;
    border: none;
  }
  #lang-menu{
   
    color: #eaeaed;
    border: solid 1px #52505000;
    li{
      button{
        background-color: var(--color-card-night2);
        color: #eaeaed;
        border: solid 1px #52505000;
        cursor: pointer;
        font-weight: 700;
        text-align: center;
        transition: 0.1s;
      }
    }
  }
  
  .footer{
    background: rgb(40, 40, 40);

    div{
      background-color:  rgb(26, 26, 26);
      color: #eaeaed;
    }
    p, #linkedin, #github {
      color: #eaeaed;
    }

  }

  .container {
    background-color: rgb(40, 40, 40);

  }
  .container-mainPage{
    border: solid 8px rgb(40, 40, 40);
  }
  .cardsDetail-container {
    background-color: rgb(40, 40, 40);
  }
  .container-title {
    background: rgb(40, 40, 40);

  }
  .work-container {
    background-color: rgb(40, 40, 40);
  }
  .cards-container {
    background-color: rgb(40, 40, 40);
  }
  #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6 {
    background-color: var(--color-card-night2);

  }

  #card1:hover h3,
  #card2:hover h3,
  #card3:hover h3,
  #card4:hover h3,
  #card5:hover h3,
  #card6:hover h3 {
    -webkit-text-stroke: 0rem #475a91;
    color: #475a91;

  }


  .navbar {
    background-color: var(--navbar-night);
    color: #eaeaed;
  }

  .nav-dark-noise{

    color: #eaeaed;
  }
  .backButton{
    color: #eaeaed;
    background-color: #35477A;
  }
  .backButton:hover{
    background-color: #475a91;
  }


  .brand {
    h1 {
      color: var(--font-color-night2);
    }
    h2 {
      color: var(--font-color-night2);
    }
  }



  .e {
    color: var(--font-color-night2);
  }
  #work-btn {
    background-color:var(--color-card-night1);
    color: var(--font-color-night3);

  }
  #about-btn {
    background-color: var(--color-card-night2);
    color: var(--font-color-night1);
  }

  #contact-btn {
    background-color: var(--color-card-night1);
    color: var(--font-color-night3);

  }

  .moon {
    visibility: visible;
    opacity: 1;

  }


  .container-contact {
    color: #eaeaed;


    a,
    button {
      color: #eaeaed;
    }
  }

  .input-field, .input-field-textArea{
    background-color: rgb(40, 40, 40);
    color: #eaeaed;
    border: solid 1px #52505000;
    background-color: rgb(219, 219, 219);

  }
  .contact-form input,
  .contact-form textarea {
    background-color: rgb(40, 40, 40);
    border: solid 1px #52505000;
  }

  .submit-btn{
    background-color: var(--color-card-night2);
    color: #eaeaed;
    border: none;
  }

  .container-about-me{

    background-color: rgb(40, 40, 40);
  }
  #about-me-content {

    p{
      color: var(--font-color-night1);
    }

  }

  .container-contact{
    color: #eaeaed;
    background-color: rgb(40, 40, 40);
  }
  .contact-content{
    color: #eaeaed;

  }

  .justgoodstuff-content,
  .tuvinilo-content,
  .destinea-content,
  .readmeapp-content,.saffvision-content {
    color: #eaeaed;
    background-color: rgb(40, 40, 40);
    border: solid 1px #52505000;
  }
  h1,h2,h3,a,p{
    color: var(--font-color-night1);
  }
  a {
    color: #eaeaed;
  }
  #subtitle {
    color: #eaeaed;
  }

  .try-me-button {
    background-color: var(--color-card-night2);
    color: var(--font-color-night1);
    border: solid 1px var(--font-color-night1);
  }



}



#noise-btn {
  cursor: pointer;
  font-size: 1.25rem;
  color:inherit;
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 32px;
  border: none;
  /* box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ; */
}



#noise-btn.on {
  cursor: pointer;
  opacity: 0.7;
}


.dark-btn-box{
  display: flex;
  gap: 1.25rem;
  height: 40px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 90px;
  border: solid 0px rgba(255, 255, 255, 0.774);
}
#dark-btn {
  font-size: 1.25rem;
  color:inherit;
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 32px;
  border: none;
  /* box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ; */

}

#day-btn{
  font-size: 1.25rem;
  color:inherit;
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 32px;
  border: none;
}



.menuBox {
  display: flex;
  height: 40px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  border: solid 0px rgba(255, 255, 255, 0.774);

}

.lang-selector {
  position: relative;
  text-align: center;
  width: 40px;
  height: 20px;

  
}



#lang-toggle{
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

#lang-menu{
  position: absolute;
  top: 30px;
  left: -10px;
  display: flex;
  width: 100px;
  height: 80px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: none;
  gap:12px;
  
  li{
    list-style: none;
    button{
      background-color: var(--font-color);
      padding:4px;
      width: 70px;
      border: none;
      color: var(--background-color-night);
      cursor: pointer;
      font-weight: 700;
      text-align: center;
      transition: 0.1s;
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3) , -4px -4px 0px rgba(0, 0, 0, 0.3) ;
    }
    button:hover{
      box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.5) , 4px -4px 0px rgba(0, 0, 0, 0.5) ;
      @media (max-width:768px) {
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3) , -4px -4px 0px rgba(0, 0, 0, 0.3) ;
      }
    }
  }
}

#lang-menu.show {
  display: flex;
}



.nav-box-iconsAndBackButton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backButton  {
  font-family: "Advent Pro", serif;
  width: 80px;
  padding: 4px;
  border: none;
  text-align: center;
  background: #292f3255;
  color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ; */
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.backButton:hover{
  background-color: #292f32af;
  color: #E4E4E7;

  /* box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.500) , 8px -8px 0px rgba(0, 0, 0, 0.500) ; */
  @media (max-width:768px) {
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ;

  }
}





.main-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  user-select: none;
  padding: .625rem;
  background-color: var(--background-color-night);
  align-items: center;
  z-index: 3;
  border: solid .1rem rgba(255, 255, 255, 0);


  @media (max-width: 425px) {

    padding: 2px;

  }

}


.container {
  display: flex;
  width: 100%;
  height: 75%;
  flex-direction: column;
  justify-content:flex-start;
  justify-self: center;
  align-items: center;

  gap: 0px;
  border: solid 4px var(--background-color-night);
  background-color: var(--background-color);
  z-index: 3;




  @media (max-width: 1440px) {
    width: 100%;

  }

  @media (max-width: 425px) {
    width: 100%;
    height: 65vh;

  }
  @media (max-width: 325px) {
    width: 100%;

  }
}

.container-mainPage{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content:flex-start;
  gap: 2;
  align-items: center;
  border: solid 8px var(--background-color);
  padding: 0px;
  z-index: 5;
}



.container-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: solid 1px rgba(249, 249, 249, 0);
  background-color: var(--background-color);
  gap: 0px;
  z-index: 3;
  position: relative;
  overflow: hidden;
  h2{
    position: relative;
    left: 0px;
    animation: rightToLeft 10s ease-in infinite;
  }
  animation: appear 2s  ;
}

.brand {
  border: solid 0rem rgba(76, 13, 224, 0);
  text-align: center;
  h1 {
    font-family: "Advent Pro", serif;

    font-weight: 800;
    font-size: 6.25rem;
    letter-spacing: 1px;

    color: var(--font-color);
    border: solid 0rem rgba(255, 255, 255, 0);

    @media (max-width: 1440px) {
      font-size: 74px;
    }

    @media (max-width: 768px) {
      font-size: 66px;
      letter-spacing: 0px;
    }
    @media (max-width: 425px) {
      font-size: 58px;
      letter-spacing: 0px;
    }

    @media (max-width: 325px) {
      font-size: 42px;
      letter-spacing: 0px;
    }

    @media (max-width: 280px) {
      font-size: 32px;
      letter-spacing: 0px;
    }


  }

  h2 {
    font-weight: 900;
    font-size: 24px;
    background-color: rgba(30, 30, 30, 0);
    position: relative;
    bottom: 20px;
    color: var(--font-color);
    border: solid 0rem rgba(255, 255, 255, 0);
    letter-spacing: .0313rem;


    @media (max-width: 1440px) {
      font-size: 18px;
      bottom: 16px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      bottom: 14px;
      letter-spacing: 0px;
    }

    @media (max-width:425px) {
      font-size: 14px;
      bottom: 12px;
      letter-spacing: 0px;
      left: 0px;
    }

    @media (max-width: 325px) {
      font-size: 10px;
      bottom: 10px;
      letter-spacing: 0px;
    }

    @media (max-width: 280px) {
      font-size: 8px;
      bottom: 8px;
      letter-spacing: 0px;
    }
  }




}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.navbar {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: space-between;
  justify-self: center;
  padding: 1.25rem;
  background-color: var(--navbar-color);
  color: var(--font-color);
  z-index: 1;
  border: solid 4px var(--background-color-night);
  z-index: 3;

  @media (max-width: 1440px) {
    width: 100%;

  }

  @media (max-width: 325px) {

    padding: 8px;
  }


}

.nav-dark-noise{
  background-color:transparent;
  display: flex;
  padding: 12px;
  width: 100%;
  justify-content: space-between;
  color: var(--font-color);
}


.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.1s;
}

.icon-menu {
  display: flex;
  justify-content: start;
  gap: .75rem;
  padding: .25rem;
  width: 90px;
  height: 2.5rem;
  border: solid .1rem rgba(255, 255, 255, 0);
  z-index: 2;


}


/* works */

.work-container{
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 10px;
  background-color: #4d767c;
  background-color: var(--background-color);
  z-index: 3;

  @media (max-width: 425px) {
    width: 100%;
    height: 100%;
    padding: 8px;
  }

}

.cards-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
  height: 100%;
  border-radius: 0px;
  align-self: self-start;
  align-items: center;
  gap: 50px;
  border: solid 0rem rgba(255, 255, 255, 0);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.175) ;
  background-color: #4b7177;
  background-color: var(--background-color);
  padding: 30px;

  @media (max-width: 48rem) {
    width: 80%;
  }
  @media (max-width: 425px) {
    width: 100%;
    height: 100%;

  }

  animation: appear 2s  ;



}

#card1{
  font-family: "Advent Pro", serif;
  transform: rotate(-2deg);
  text-align: center;
  background-color: var(--font-color);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;
  color: var(--background-color-night);

  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }


  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }

}
#card2{
  transform: rotate(1deg);
  background-color: var(--font-color);
  text-align: center;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;
  color: var(--background-color-night);
  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }
  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }

}
#card3{
  transform: rotate(0deg);
  background-color: var(--font-color);
  text-align: center;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;
  color: var(--background-color-night);
  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }
  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }

}
#card4{
  transform: rotate(1deg);
  background-color: var(--font-color);
  text-align: center;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;
  color: var(--background-color-night);
  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }
  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }
}
#card5{
  transform: rotate(2deg);
  background-color: var(--font-color);
  text-align: center;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;

  color: var(--background-color-night);
  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }
  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }
}
#card6{
  transform: rotate(-1deg);
  background-color: var(--font-color);
  text-align: center;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 5.625rem;
  padding-left: 18px;
  padding-right: 18px;
  @media (max-width: 75rem) {
    font-size: 4.25rem;
  }
  @media (max-width: 425px) {
    font-size: 52px;
  }
  @media (max-width: 325px) {
    font-size: 38px;
  }
}


#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover,
#card5:hover,
 #card6:hover {
  box-shadow: -12px 12px 0px rgba(0, 0, 0, 0.3) , 12px -12px 0px rgba(0, 0, 0, 0.3) ;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3), -10px -10px 0px rgba(0, 0, 0, 0.3);
    letter-spacing: 0px;
  }
}




.cardsDetail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  gap: 0rem;
  padding: 10px;
  color: var(--font-color);
  z-index: 3;
  background-color:#4d767c;
  @media (max-width: 48rem) {
    width: 100%;
  }
  @media (max-width: 425px) {
    width: 100%;
    height: 90vh;
    padding: 8px;
  }
}

.try-me-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-start;
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  background-color: var(--font-color);
  color: var(--background-color-night);
  transform: rotate(-1deg);
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s ease-in;
  z-index: 3;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ;

}

.try-me-button:hover {
  transition: 0.1s;
  box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.3) , 10px -10px 0px rgba(0, 0, 0, 0.3) ;
  @media (max-width:768px) {
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ;
  }
}

.justgoodstuff-content,
.tuvinilo-content,
.destinea-content,
.readmeapp-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: solid 0px rgba(255, 255, 255, 0.962);
  width: 60%;
  height:100%;
  padding: 20px;
  gap: 1.25rem;
  color: #eaeaed;
  color: inherit;
  border-radius: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color:#4d767c;
  h1{
    font-family: "Advent Pro", serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--font-color);
    border: solid 0rem rgb(250, 250, 250);
  }
  h2{
    font-family: "Advent Pro", serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color);
    border: solid 0rem rgb(250, 250, 250);
  }
  h3 {
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-size: 1.5rem;
    border: solid 0rem rgb(250, 250, 250);
  }
  #icon-box {
    display: flex;
    padding: 10px;
    align-self: flex-start;
    gap: .5rem;
  }
  p{
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Space Mono", monospace;
    border: solid 0rem rgb(250, 250, 250);
    color: var(--font-color-text);
  }
  #img-box {
    display: flex;
    flex-direction: column;
    border-radius: 1px ;
    border: solid 0px rgb(250, 250, 250);
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px;


    img {
      max-width: 100%;
      border: solid 0px rgb(191, 191, 191);
      height: auto;
      transition: 0.1s;
      box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3) , -10px -10px 0px rgba(0, 0, 0, 0.3) ;
    }
    @media (max-width:425px) {
      padding: 2px;
    }
  }

  @media (max-width:1280px) {
    width: 80%;
  }
  @media (max-width: 425px) {
    width: 100%;
    padding: 8px;
  }
}

.nextAndBack{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* about me */

.container-about-me{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 2px;
  gap: 1.25rem;
  color: var(--font-color);
  user-select: none;
  background-color: #4d767c;
  transition: 0.5s;
  z-index: 3;
  font-family: "Advent Pro", serif;
  @media (max-width: 425px) {
  padding: 2px;
  }
}

#about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  gap: 1.25rem;
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-bottom: 80px;
  overflow-y: auto;
  z-index: 3;
  animation: appear 3s  ;
  h1 {
    font-family: "Advent Pro", serif;
    font-weight: 800;
    font-size:48px;
    @media (max-width: 425px) {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 22px;
    font-weight: 500;
    font-family: "Space Mono", monospace;
    color: var(--font-color-text);
    @media (max-width: 425px) {
      font-size: 1.25rem;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  img{
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.8;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3) , -10px -10px 0px rgba(0, 0, 0, 0.3) ;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.e {
  display: inline-block;
  position: relative;
  transform: rotate(25deg);
  left: 3px;
  color:var(--background-color-night);
  font-weight: 800;
}




/* contact */

.container-contact{
  flex-direction: column;
  justify-content: start;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  padding: 10px;
  z-index: 3;
  border: solid 0px rgba(255, 255, 255, 0);
  background-color:var(--background-color);
  overflow: visible;
  overflow-y: scroll;
  div {
    display: flex;
    gap: 1rem;
  }



  @media (max-width: 425px) {
    justify-content: end;
    padding: 2px;
  }
}

.contact-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  border: solid 0px rgba(255, 255, 255, 0.884);
  align-items: center;
  align-content: center ;
  padding: 0px;
  overflow-y: auto;
  

  h1{
    border: solid 0px rgba(255, 255, 255, 0.818);
    text-align: center;
    font-family: "Advent Pro", serif; 
    font-family: "Space Mono", monospace;
    color: var(--font-color) ;
    word-wrap:normal;
    max-width: 100%;
    hyphens: auto;
    

    @media (max-width: 425px) {
      font-size: 24px;
    }
  }

  @media (max-width: 1280px) {
    width: 80%  ;
    padding: 2px;
  }
  @media (max-width: 1024px) {
    width: 90% ;
    height: 100%;
    

  }
  @media (max-width:768px) {
    width: 100% ;
  }
  
}

.form-container{
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 100%;
  padding: 20px;
  align-items: start;
  justify-content: start;
  border: solid 0px rgba(255, 255, 255, 0.829);
  div{
    width: 100%;
  }
}

.input-field{
  font-family: "Space Mono", monospace;
  border: none;
  background-color: #9aced5;
  width:100%;
  padding: 4px;
  height: 30px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ;
}

.input-field-textArea{
  font-family: "Space Mono", monospace;
  border: none;
  background-color: #9aced5;
  width:100%;
  padding: 4px;
  min-height:200px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ;
}

.input-field:focus,
.input-field-textArea:focus {
  outline: none;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ;
  font-family: "Space Mono", monospace !important;
  font-weight: 700;

}

.input-field:focus::placeholder,
.input-field-textArea:focus::placeholder {
  color: transparent;
  font-family: "Space Mono", monospace;
}

.input-field::placeholder,
.input-field-textArea::placeholder {
  color: #5E5E5E;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}

.submit-btn{
  width: 120px;
  height: 40px;
  align-self: center;
  background-color: var(--font-color);
  color: var(--background-color-night);
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Space Mono", monospace;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ;
  @media (max-width: 425px) {
    width: 50%;
    height: 40px;
  }
}

.submit-btn:hover{
  letter-spacing: 2px;
  box-shadow: -6px 6px 0px rgba(0, 0, 0, 0.3) , 6px -6px 0px rgba(0, 0, 0, 0.3) ;

  @media (max-width: 768px) {
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3) , -6px -6px 0px rgba(0, 0, 0, 0.3) ;
    letter-spacing: 0px;
  }
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0 0 0 0);
white-space: nowrap;
border: 0;
}

.contact-icons{
    color: var(--font-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
}


.list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  width: 350px;
  height: 50%;
  border: solid 1px rgba(255, 255, 255, 0);
  font-family: "Advent Pro", serif;
  padding: 10px;
  z-index: 4;
  gap: 20px;
  transition: 1s;
  animation: appear 2.5s  ;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media  (max-width: 768px) {
    width: 300px;
    height:50%;
  }
  @media (max-width:425px) {
    width: 250px;
    height:50%;
  }
  @media (max-width: 325px) {
    width: 200px;
    height:50%;
  }
  @media (max-height: 660px) {
    transform: scale(0.8);
  }
}


#work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  width: 100%;
  height:60px;
  font-size: 32px;
  font-weight: 800;
  transform: rotateZ(-2deg);
  background-color: var(--font-color);
  border: none;
  color: inherit;
  cursor: pointer;
  animation: shakeS 0.4s infinite alternate;
  transition: 0.1s ease-in;
  z-index: 3;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ;
}

#work-btn:hover {
  animation: none;
  letter-spacing: 8px;
  box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.3) , 10px -10px 0px rgba(0, 0, 0, 0.3) ;
}

#about-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height:60px;
  font-size: 32px;
  font-weight: 800;
  background-color: var(--background-color-night);
  border: none;
  color: var(--font-color);
  box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.3) , -10px 0px 0rem rgba(0, 0, 0, 0.3) ;
  transition: 0.1s ease-in;

}
#about-btn:hover {
  outline: solid 0px var(--font-color);
  letter-spacing: 8px;
  box-shadow:  -10px 10px 0px rgba(0, 0, 0, 0.3), 10px -10px 0rem rgba(0, 0, 0, 0.3) ;
  animation: none;

}

#contact-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  width: 100%;
  height: 60px;
  font-size: 32px;
  font-weight: 800;
  background-color: var(--font-color);
  transform: rotateZ(2deg);
  border: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease-in;
  z-index: 3;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3) , -8px -8px 0px rgba(0, 0, 0, 0.3) ;
}
#contact-btn:hover {
  outline: solid 0px black;
  letter-spacing: 4px;
  box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.3) , 10px -10px 0px rgba(0, 0, 0, 0.3) ;
  animation: none;
}









