
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 2s ease; */
}

:root{
  --navbar-color: #FC5215;
  --navbar-night: #292f32;
  --background-color :#6AA0A8;
  --background-color-night: rgb(29, 29, 29);
  --font-color: #FCE89A;

  --font-color-night1: #6a3eb1;
  --font-color-night2: #475a91;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Nunito Sans", serif;
  background-color: rgb(13, 13, 13);
  
}



.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;

  animation: grain 7s steps(10) infinite;
  background-image: url(./noise1.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.5;
  pointer-events: none;

}
.noise.clean{
  display: none;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}



.moon{
  
  
  position: relative;
  visibility: hidden;
  right: 0px;
  top: 0px;
  opacity: 0;
  filter: blur(1.2px);
  animation: moon 0s infinite ;
  transition: 0.3s;
  
  
  
  img{
    width: 145px;
    height: 200px;
    z-index: 1;
  }
}
@keyframes moon{
  0%{
    transform: translateY(-10px) translateX(0px);
    filter: blur(1px);
  }
  
  100%{
    transform: translateY(-300px) translateX(750px);
    filter: blur(0.5px);
  }
}

.moon:hover{
  filter: blur(0.6px);
}




.main-container.night{
  
  .container-flow{
    background-color: var(--background-color-night);
    
  }
  .work-container{
    background-color: var(--background-color-night);
  }
  .cards-container{
    background-color: var(--background-color-night);
    
  }
  #card1, #card2, #card3, #card4, #card5, #card6{
    filter: contrast(0.8); 
    h3{
      -webkit-text-stroke:  1px #475a91;
        color:#475a91;
    }
    
  }
  .selected{
    border-right: solid 8px #475a91 ;
    filter: contrast(1);
  }
  .navbar{
  background-color: var(--navbar-night);
  color: #eaeaed;
  }
  .backButton{
    color: #eaeaed;
  }

  .noise{
    opacity: 0.20;
  }
  #noise-btn{
    color: #eaeaed;
  }
  
  .brand{
    h2{
      color: var(--font-color-night2);
    }
    h6{
      color:var(--font-color-night2);
    }
  }
  .portfolio1{
    color:#1d1d1e;
    -webkit-text-stroke:  1px  var(--font-color-night2);
  }
  .portfolio2{
    color: var(--font-color-night2);
  }

  .e{
    color: var(--font-color-night2);
  }
  #work-btn {
    background-color: #eaeaed;
    color:var(--font-color-night2);
  }
  #about-btn {
    background-color: var(--font-color-night2);
    color: #eaeaed;
  }
  #contact-btn {
    background-color: #eaeaed;
    color:var(--font-color-night2);
  }

  #close{
    color: white;
  }

  .moon{
    visibility: visible;
    opacity: 1;
  }


  .contact{
    color: #eaeaed;
    a, button{
      color: #eaeaed;
    }
  }
  .about-me{
    color: #eaeaed;
  }

  .justgoodstuff-content, .tuvinilo-content, .destinea-content, .readmeapp-content{
    color: #eaeaed;
  }
  a{
    color: #eaeaed;
  }
  
}





#noise-btn{
  cursor: pointer;
}

#noise-btn.on{
  cursor: pointer;
  opacity: 0.5;
}
#noise-btn.off{
  opacity: 1;
  transition: 0.2s;
  
}

#dark-btn{
  cursor: pointer;
  border-right: solid 1.5px ;
  padding-right: 12px;
  
}







.main-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  user-select: none;
  padding: 10px;
  background-color: black;
  align-items: center;
  z-index: 3;
}

.container{
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  
  height: 100%;
  border: solid 0px rgba(80, 80, 80, 0);
  background-color: var(--background-color);
  user-select: none;
  overflow: hidden;
  z-index: 3;
  
}

.container-flow{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border: solid 0px rgba(227, 226, 226, 0);
  background-color: var(--background-color);
  padding: 20px;
  margin: 0px;
  right: 0px;
  z-index: 3;
  position: relative;
  transition:  0.5s;
}

.container-flow2{
  display: flex;
  
  width: 100%;
  border: solid 1px rgb(233, 232, 232);
  flex-direction: column;
  justify-content: space-between;
  
  padding: 40px;
}




.navbar {
  display: flex;
  width:100%;
  height: 350px;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--navbar-color);
  color: var(--font-color);
  z-index: 1;
  
}

.backButton{
  /* display: none;
  position: fixed; */
  top: 35px;
  right: 20px;
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  background: none;
  visibility: hidden;
  opacity: 0;
  border: 0px solid;
  cursor: pointer;
  z-index: 4;
}

.visible{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.icon-menu{
  display: flex;
  justify-content: start;
  gap: 12px;
  padding: 4px;
  width: 150px;
  height: 40px;
  border: solid 0px rgba(221, 220, 220, 0.897);
  z-index: 2;
  
}

.brand {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  background-color: transparent;
  border: solid 1px rgba(238, 238, 238, 0);
  transition: 0.3s;
  z-index: 1;
 
  h2 {
    font-family: "Advent Pro", serif;
    position: relative;
    top: -10px;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: 2px;
    /* -webkit-text-stroke: 0.5px #e5eaf6d0; */
    color: var(--font-color);
    
   
  }

  h6 {
    display: inline-block;
        position: relative;
        top: -42px;
        font-weight: 900;
        font-size: 24px;
        background-color: rgba(30, 30, 30, 0);
        padding: 8px;
        color:var(--font-color);
        user-select: none;
        left: -2px;
        border: solid 1px rgba(255, 255, 255, 0);
        letter-spacing: 0.5px;
        transition: 1s;
  }
}

.portfolio-box{
  
  display: flex;
  position: relative;
  bottom: 0px;
  
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(244, 244, 244, 0);
  width:1160px;
  height:380px;
  justify-content: center;
  justify-self: center;
  margin: 0px;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s;  
  
 
  
}

.portfolio1{
  position: relative;
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 260px;
  top: 30px;
  left: 10px;
  border: solid 1px rgba(244, 244, 244, 0);
  letter-spacing: 20px;
  -webkit-text-stroke:  1px var(--font-color);
  color: var(--background-color);
  transition: 0.3s;
  

  
 
  
}
.portfolio2{
  position: relative;
  border: solid 1px rgba(244, 244, 244, 0);
  transform: rotateX(180deg);
  font-family: "Advent Pro", serif;
  font-weight: 900;
  font-size: 260px;
  letter-spacing: 20px;
  top: -30px;
  left: 10px;
  color:  #fce89a9c;
  transition: 0.3s;
  
  
  
}



.text{
  display: flex;
  flex-direction: column;
  gap: 150px;
}




.work-container{
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 0px rgb(250, 250, 250);
  background-color: var(--background-color);
  padding: 20px;
  gap: 20px;
  padding: 10px;
  margin: 0px;
  z-index: 3;
 
}

.cards-container{
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
  height: 100%;
  align-self: self-start;
  gap: 0px;
  background-color: var(--background-color);
  border: solid 0px rgb(250, 250, 250);
  padding: 10px;
}

.cards-container-flow{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: solid 0px rgb(250, 250, 250);
  padding: 10px;
}



#card1, #card2, #card3, #card4, #card5, #card6{
  
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  h3{
    font-family: "Advent Pro", serif;
    font-weight: 900;
    font-size: 90px;
    border: solid 0px rgba(244, 244, 244, 0);
    letter-spacing: 0px;
    -webkit-text-stroke:  1px var(--font-color);
    color: var(--font-color);
    border: solid 0px rgba(250, 250, 250, 0.945);
    text-overflow: ellipsis;
    opacity: 1;
    transition: 0.3s;
    
    
    
  }
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover{
  opacity: 1;
}

/* #card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover{
  
  h3{
    border-right: solid 8px var(--font-color);
    filter: contrast(1);
  }

} */

.selected{
  border-right: solid 8px var(--font-color);
    h3{
    transform: scale(0.95);
  }
  
}

#sub1{
  display: inline;
  position: relative;
  right: 20px;
  font-size: 16px;
  font-weight: 600;
  -webkit-text-stroke:  0px var(--font-color);
}


.cardsDetail-container{
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
  height: 100%;
  gap: 0px;
  padding: 0px;
  border: solid 0px rgba(250, 250, 250, 0.75);
  background-color:transparent;
  
  color: var(--font-color);
  
  
}

.cardDetail-container-flow{
  display: flex;
  flex-direction: column;
  gap: 0px;
  border: solid 0px rgb(250, 250, 250);
  padding: 0px;
  
}

a{
  text-decoration: none;
}




.justgoodstuff-content, .tuvinilo-content, .destinea-content, .readmeapp-content{
  display: none;
  flex-direction: column;
  align-items: self-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 30px;
  color:var(--font-color);
  border: solid 0px rgb(250, 250, 250);
  overflow-x: hidden;
  overflow-y: auto;
  
  h4{
    font-family: "Advent Pro", serif;
    font-weight: 700;
    font-size: 24px;
    border: solid 0px rgb(250, 250, 250);
  }

  div{
    display: flex;
    align-self: flex-start;
    gap: 8px;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito Sans", serif;
    border: solid 0px rgb(250, 250, 250);
  }
  img{
    width: 100%;
    height: auto;
    align-self: self-start;
    
  }
  a{
    color: var(--font-color);
    font-size: 18px;
    font-weight: 600;
    align-self: center;
  
  }
}






.about-me {
  
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width:70%;
  height: 400px;
  overflow-x: auto;
  padding: 0px;
  gap: 40px;
  color: var(--font-color);
  border: solid #e6e4e4a2 0px;
  user-select: none;
  top: 40px;
  transition: 0.5s;
  h3{
    font-weight: 800;
    font-size: 62px;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    font-family: "Nunito Sans", serif;
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.e{
  display: inline-block;
  transform: rotate(25deg);
  color: rgb(73, 72, 72);
  font-weight: 900;
}

.about-me.visible {
  visibility: visible;
  opacity: 1;
  transition: 1.2s ease-in;
}

.contact {
  
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-self: center;
  display: none;
  height: 30%;
  width: 30%;
  padding: 20px;
  top: -200px;
  position: relative;
  cursor: pointer;
  margin: 80px;
  border: solid 0px rgba(255, 255, 255, 0.788);
  div{
    display: flex;
    gap: 16px;
  }
  
  
  a, button{
    font-size: 22px;
    font-weight: 500;
    color:var(--font-color);
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}









.list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  top: 120px;
  right: 40px;
  width: 280px;
  height: 280px;
  border: solid 0px white;
  padding: 20px;
  font-family: "Advent Pro", serif;
  

  z-index: 4;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding: 10px;
    gap: 20px;
    border: solid 0px white;
    
    
  }

}


#work-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  width:90%;
  height: 40px;
  font-size: 32px;
  font-family: inherit;
  font-weight: 800;
  transform: rotateZ(4deg);
  background-color: var(--font-color);
  border: none;
  color: inherit;
  text-align: center;
  padding: 6px;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  z-index: 3;
  a{
    text-decoration: none;
    color: inherit;
  }

}
#work-btn:hover {
  transform: scale(1.05) rotateZ(4deg);
  letter-spacing: 0px;
 
  

}


#about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  right: 2px;
  width: 95%;
  height: 40px;
  transform: rotateZ(0deg);
  font-size: 32px;
  font-family: inherit;
  overflow-x: auto;
  overflow-y: auto;
  font-weight: 800;
  background-color: black;
  border: none;
  color: var(--font-color);
  
  padding: 6px;
  cursor: pointer;
  transition: 0.1s ease-in;

  a{
    text-decoration: none;
    color: inherit;
  }
 
}
#about-btn:hover {
  transform: scale(1.05) rotateZ(0deg);
  letter-spacing: 0px;
}





#contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
  width: 90%;
  height: 40px;
  font-size: 32px;
  font-family: inherit;
  font-weight: 800;
  background-color: var(--font-color);
  transform: rotateZ(-4deg);
  padding: 6px;
  border: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease-in;

  z-index: 3;

  a{
    text-decoration: none;
    color: inherit;
    
  }
  
}
#contact-btn:hover {
  transform: scale(1.05) rotateZ(-4deg);
  letter-spacing: 0px;
}

.container-cards{
  width: 100%;
  height: 600px;
  border: solid 1px rgba(255, 255, 255, 0.832);
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:var(--background-color);
}







#close{
  position:relative;
  align-self: center;
  top: -120px;
  justify-self: center;
  display: none;
  cursor: pointer;
  color: var(--font-color);
}

#close:hover{
  transform: rotate(180deg);
  transition: 0.5s;
}



